{
	"arrowParens": "always",
	"bracketSameLine": false,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
